/**** RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}


/**** HOME */
div#home {
    min-height: 100vh;
    background: url("../images/home_bg.svg") no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 2rem;
}

div#home header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#home section {
    padding: 0 2rem;
}

div#home section .text {
    color: var(--white);
}

div#home section button {
    margin-bottom: 24.8rem;
}


/**** PRODUCT */
section#product .video {
    margin: 5rem auto;
}

section#product .video img {
    width: 100%;
}

section#product .items {
    margin: 1.8rem 8.15rem 8rem;
}

section#product .items {
    font-family: Graphik, sans-serif;
    font-style: normal;
    line-height: 2.5rem;
    text-align: center;
    line-height: 2.8rem;
}

section#product .items h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

section#product .items p {
    font-weight: 400;
    font-size: 1.8rem;
}

section#product .item {
    margin-bottom: 10rem;
}


/*** Organzation */
section#organization {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
}

section#organization .text p {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

section#organization img {
    margin: 6rem 0 5rem 0;
}

/*** Newsletter */
section#newsletter .text {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

section#newsletter img {
    margin-bottom: 6rem;
}

section#newsletter .subscribe .text h3 {
    font-size: 2rem;
    line-height: 2.8rem;
}

section#newsletter .subscribe p{
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1rem;
}

section#newsletter .text input {
    margin-top: 3.4rem;
    font-size: 2rem;
    width: 100%;
    height: 5.4rem;
    border-radius: 4rem;
    padding: 1.9rem 3.5rem;
}

section#newsletter .text input::placeholder {
    font-size: 1.4rem;
}

section#newsletter .text button {
    margin-top: 1.2rem;
}

